#mainMenuBanner{
    background-image: url("../imgs/deals_banner.svg");
}
#dealList{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 5vh 5vw;
    padding: 2vw;
    border: 0.2vw solid #5562f6;
    gap: 1vw;
    width: 80vw;
    max-width: 80vw;
}

#dealCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border: #5562f6 .2vw solid;
    border-radius: .2vw;
    padding: 1vw;
}
#dealCont img{
    width: 15vw;
    min-height: 15vw;
    object-fit: contain;
}
#dealCont h2{
    font-size: 1.6vw;
    font-weight: 600;
    margin: 0;
}
#dealCont h3, p{
    font-size: 1.5vw;
    margin: 1vh 0;
}
#dealCont h3{
    margin-top: auto;
}
#dealCont h4{
    font-size: 1vw;
}
#dealCont button{
    font-size: 2vw;
    padding: 0.5vh 5vw;
    background-color: transparent;
    border: #5562f6 0.2vw solid;
    color: white;
	border-radius: .2vw;
}
#dealCont button:hover{
    background-color: #5562f6;
}
@media screen and (max-width: 800px){
    #dealList{
        grid-template-columns: auto;
    }
    #dealCont img{
        width: 70vw;
    }
    #dealCont h2{
        font-size: 3vh;
        margin-bottom: 2vh;
    }
    #dealCont h3{
        font-size: 3vh;
    }
    #dealCont p{
        font-size: 1.7vh;
        padding: 0 3vw;
    }
    #dealCont button{
        font-size: 4vh;
        margin-bottom: 1vh;
    }
}