#mainMenuBanner{
    background-image: url("../imgs/faq_banner.svg");
    background-size: 90%;
}
#helpMainCont{
    display: flex;
    color: white;
    margin: 5vh 10vw;
    padding: 2vw;
}
#helpMainCont ol{
    list-style-type: none;
}
#helpMainCont * h2{
    font-size: 2vw;
}
#helpMainCont * p{
    font-size: 1vw;
    padding-left: 2vw;
}
@media screen and (max-width: 800px){
    #helpMainCont{
        padding: 1vw;
    }
    #helpMainCont ol{
        padding: 0;
    }
    #helpMainCont * h2{
        font-size: 2vh;
    }
    #helpMainCont * p{
        font-size: 1.5vh;
        margin-bottom: 5vh;
    }
}